/* Reset and base styles  */
@import url("https://fonts.googleapis.com/css2?family=Golos+Text:wght@400..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Merriweather&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0;
}

p {
  margin: 0;
}

figure {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-size: inherit;
  font-weight: inherit;
}

ul,
ol,
dd {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

button {
  background-color: transparent;
  color: inherit;
  border-width: 0;
  padding: 0;
  cursor: pointer;
}

input::-moz-focus-inner {
  border: 0;
  padding: 0;
  margin: 0;
}

cite {
  font-style: normal;
}

fieldset {
  border-width: 0;
  padding: 0;
  margin: 0;
}

/* font-family: "Golos Text",sans-serif;
   font-family: "Merriweather",serif;
   font-family: "Montserrat",sans-serif; */
html {
  scroll-behavior: smooth;
}

body {
  font-family: "Golos Text", sans-serif;
  color: #313131;
}

.no-scroll {
  overflow-y: hidden;
}

.container {
  width: 1252px;
  padding: 0 15px;
  margin: 0 auto;
}
@media (max-width: 765px) {
  .container {
    width: 346px;
    padding: 0 5px;
  }
}
@media (max-width: 1220px) {
  .container--tablet-fluid {
    width: auto;
  }
}
@media (max-width: 765px) {
  .container--mobile-fluid {
    width: auto;
  }
}
.container--mobile-no-pading {
  padding: 0;
}

.header {
  background-image: url(./../img/header/img-header-1920.jpg);
  height: 700px;
  padding-top: 26px;
  background-size: cover;
  background-repeat: no-repeat;
}
@media (max-width: 1366px) {
  .header {
    background-image: url(./../img/header/img-header-1366.jpg);
  }
}
@media (max-width: 765px) {
  .header {
    background-image: url(./../img/header/img-header-375.jpg);
  }
}

.header__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 542px;
}
.header__content p {
  margin-top: 24px;
  font-family: "Golos Text", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 130%;
  text-align: center;
  color: #313131;
}
@media (max-width: 765px) {
  .header__content {
    width: 100%;
  }
  .header__content p {
    width: 335px;
  }
}

.header__logo {
  margin-bottom: 62px;
}
@media (max-width: 765px) {
  .header__logo {
    margin-bottom: 40px;
  }
  .header__logo img {
    width: 213px;
    height: 32px;
  }
}

.h1 {
  font-family: "Merriweather", serif;
  font-weight: 400;
  font-size: 60px;
  line-height: 110%;
  text-transform: uppercase;
}
@media (max-width: 765px) {
  .h1 {
    font-size: 36px;
  }
}

.text--middle {
  padding-left: 90px;
}
@media (max-width: 765px) {
  .text--middle {
    padding-left: 63px;
  }
}

.text--end {
  padding-left: 30px;
}

.header__btns {
  margin-top: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 16px;
     -moz-column-gap: 16px;
          column-gap: 16px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (max-width: 765px) {
  .header__btns {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    row-gap: 14px;
  }
}

.btn {
  border-radius: 66px;
  padding: 15px;
  width: 263px;
  height: 72px;
  background-color: #1f1f1f;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}
@media (max-width: 765px) {
  .btn {
    padding: 8px 20px;
    height: 47px;
    width: 335px;
  }
}
.btn a {
  font-family: "Golos Text", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 130%;
  text-align: center;
  color: #fff;
}
.btn:hover {
  background-color: #fbce51;
}
.btn:hover a {
  color: #1f1f1f;
}

.btn--autLine {
  background-color: transparent;
  border: 2px solid #1f1f1f;
}
.btn--autLine a {
  color: #1f1f1f;
}
.btn--autLine:hover {
  background-color: #1f1f1f;
}
.btn--autLine:hover a {
  color: #fff;
}

.running-line {
  padding: 18px 12px;
  width: 100%;
  height: 60px;
  background-color: #f54932;
}
.running-line span {
  display: inline-block;
  margin-right: 20px;
  font-family: "Merriweather", serif;
  font-weight: 400;
  font-size: 22px;
  line-height: 110%;
  text-transform: uppercase;
  color: #fff;
  position: relative;
}
@media (max-width: 765px) {
  .running-line span {
    font-size: 16px;
  }
}
.running-line span::before {
  content: "";
  position: absolute;
  display: block;
  left: -14px;
  top: 6px;
  width: 6px;
  height: 6px;
  background-color: #ffffff;
  border-radius: 50%;
}
@media (max-width: 765px) {
  .running-line {
    padding: 10px 12px;
    height: 38px;
  }
}

.cta {
  margin-top: 80px;
}

.cta-desk {
  margin-top: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 64px;
     -moz-column-gap: 64px;
          column-gap: 64px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (max-width: 765px) {
  .cta-desk {
    display: none;
  }
}

.cta-mobile {
  display: none;
  margin-top: 48px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
@media (max-width: 765px) {
  .cta-mobile {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    row-gap: 24px;
  }
  .cta-mobile img {
    width: 336px;
  }
}

.cta__title {
  font-family: "Merriweather", serif;
  font-weight: 400;
  font-size: 36px;
  line-height: 135%;
  text-transform: uppercase;
  color: #313131;
}
.cta__title span {
  font-weight: 700;
  color: #f54932;
}
@media (max-width: 765px) {
  .cta__title {
    font-weight: 400;
    font-size: 28px;
  }
}

.table__desc {
  margin-top: 64px;
  margin-bottom: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 44px;
     -moz-column-gap: 44px;
          column-gap: 44px;
}
.table__desc img {
  width: 474px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}
@media (max-width: 765px) {
  .table__desc {
    margin-top: 34px;
    margin-bottom: 120px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .table__desc img {
    width: 336px;
  }
}

.table__img {
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.table__column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 704px;
}
@media (max-width: 765px) {
  .table__column {
    margin-top: 24px;
    max-width: 336px;
  }
}

.table__title {
  font-family: "Merriweather", serif;
  font-weight: 400;
  font-size: 36px;
  line-height: 135%;
  text-transform: uppercase;
  color: #313131;
}
.table__title span {
  font-weight: 700;
  color: #f54932;
}
@media (max-width: 765px) {
  .table__title {
    font-size: 28px;
  }
}

.table__text {
  margin-top: 48px;
  font-family: "Golos Text", sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 120%;
  color: #3057a2;
}
@media (max-width: 765px) {
  .table__text {
    margin-top: 40px;
    font-size: 18px;
  }
}

.table-price {
  margin-top: 60px;
  display: grid;
  grid-template-columns: 306px auto;
}
@media (max-width: 765px) {
  .table-price {
    margin-top: 44px;
    grid-template-columns: 1fr 1fr;
  }
  .table-price li {
    grid-column-start: 1;
    grid-column-end: 3;
  }
  .table-price li:nth-child(7) {
    grid-column-start: 1;
    grid-column-end: 2;
    border-bottom: 2px solid #d0d0d0;
  }
  .table-price li:nth-child(8) {
    grid-column-start: 2;
    grid-column-end: 3;
  }
}
.table-price .del {
  text-decoration-color: red;
}
.table-price li {
  padding: 16px 16px 16px 0;
  font-family: "Golos Text", sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 120%;
  color: rgba(49, 49, 49, 0.714);
  border-bottom: 2px solid rgba(49, 49, 49, 0.714);
}
@media (max-width: 765px) {
  .table-price li {
    border-bottom: 0;
    padding: 12px 12px 12px 0;
  }
}
.table-price li:nth-last-child(-n+2) {
  border-bottom: 0;
}
.table-price li:nth-child(even) {
  padding-left: 16px;
  border-left: 2px solid rgba(49, 49, 49, 0.714);
  font-weight: 600;
  color: #313131;
}
@media (max-width: 765px) {
  .table-price li:nth-child(even) {
    border-left: 0;
    border-bottom: 2px solid #d0d0d0;
    padding-left: 0;
  }
}

.stages-item {
  margin-bottom: 200px;
  position: relative;
  list-style: none;
  counter-reset: item;
  display: grid;
  grid-template-columns: repeat(3 1fr);
  grid-template-rows: 112px 112px 1fr;
  gap: 20px;
}
.stages-item::before {
  content: url(./img/main/aero.png);
  position: absolute;
  right: -69px;
  bottom: 0;
  z-index: 2;
}
.stages-item::after {
  content: url(./img/main/img-stage-vector.svg);
  position: absolute;
  right: -45px;
  bottom: 61px;
  z-index: 2;
}
.stages-item li:nth-child(3) {
  grid-row-start: 1;
  grid-row-end: 3;
  grid-column: 3;
}
.stages-item li {
  counter-increment: item;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 72px;
  position: relative;
}
.stages-item li p {
  width: 302px;
}
.stages-item li:nth-child(7) {
  grid-column-start: 2;
  grid-column-end: 4;
  grid-row: 3;
}
.stages-item li:nth-child(7) p {
  width: 447px;
}
.stages-item li::before {
  content: counter(item) " ";
  background-color: #fff;
  border-radius: 60%;
  width: 36px;
  height: 36px;
  display: block;
  font-family: "Golos Text", sans-serif;
  font-weight: 600;
  font-size: 20px;
  line-height: 1.5em;
  color: #313131;
  text-align: center;
  left: 20px;
  top: 20px;
  position: absolute;
  margin-right: 0.5em;
}
@media (max-width: 765px) {
  .stages-item {
    display: none;
  }
}

.stages__title {
  margin-bottom: 54px;
  width: 806px;
  font-family: "Merriweather", serif;
  font-weight: 400;
  font-size: 54px;
  line-height: 120%;
  text-transform: uppercase;
  color: #313131;
}
@media (max-width: 765px) {
  .stages__title {
    margin-bottom: 48px;
    width: auto;
    font-size: 36px;
    line-height: 110%;
  }
}

.stages__text {
  margin-top: 12px;
  display: inline-block;
  width: 280px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Golos Text", sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 120%;
  text-transform: none;
  color: #3057a2;
}
@media (max-width: 765px) {
  .stages__text {
    font-size: 18px;
  }
}

.stage {
  position: relative;
  background-image: url(./img/main/img-stage-fon-2.png);
  font-family: "Golos Text", sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 120%;
  color: #313131;
}
.stage img {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 10%;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.slider__stages {
  display: none;
  position: relative;
}
@media (max-width: 765px) {
  .slider__stages {
    margin-top: 148px;
    display: block;
  }
  .slider__stages::before {
    content: url(./../img/main/aero.png);
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
    position: absolute;
    right: -29px;
    top: -162px;
    z-index: 2;
  }
}

.slider {
  position: relative;
  width: 100%;
  max-width: 600px;
  margin: auto;
  overflow: hidden;
}

.slides {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition: -webkit-transform 0.5s ease-in-out;
  transition: -webkit-transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out, -webkit-transform 0.5s ease-in-out;
}

.slide {
  min-width: 100%;
}

img {
  width: 335px;
  height: auto;
}

.controls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 10px;
}

.prev,
.next {
  color: white;
  border-radius: 100%;
  background-color: rgba(49, 49, 49, 0.5);
  border: none;
  padding: 9px 15px;
  cursor: pointer;
  margin: 16px 53px;
}

.prev:hover,
.next:hover {
  background-color: #313131;
}

.pagination {
  text-align: center;
  margin-top: -42px;
}

.dot {
  height: 10px;
  width: 10px;
  margin: 0 3px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  cursor: pointer;
  -webkit-transition: background-color 0.6s ease;
  transition: background-color 0.6s ease;
}

.dot.active {
  background-color: #313131;
}